*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: black;
}
.size_kim{
    width: 30px;
    height: 5vh;
    position: absolute;
    top:0%;
    left: 50%;
    transform: translate(-50%,0);
}
.circle{
    overflow: hidden;
    position: absolute;
    width: 90vh;
    height: 90vh;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.size{
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 90vh;
    height: 90vh;
    animation: quay 5s infinite linear;
}
@keyframes quay {
    from{
        transform:translate(-50%,-50%) rotate(0deg);
    }  
    to{
    transform: translate(-50%,-50%) rotate(360deg);
    }
}